<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tookbra.bee.king.job.dao.JobInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.tookbra.bee.king.job.domain.JobInfo">
        <id column="id" property="id" />
        <result column="job_actuator" property="jobActuator" />
        <result column="job_cron" property="jobCron" />
        <result column="remark" property="remark" />
        <result column="deleted" property="deleted" />
        <result column="created_time" property="createdTime" />
        <result column="modify_time" property="modifyTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, job_actuator, job_cron, remark, deleted, created_time, modify_time
    </sql>

</mapper>
